th {
    background-color: lightgray;
    padding: 30px;
}
.orange {
    background-color: orange;
    border: 1px solid;
    border-color: darkblue;
    text-align: center;
    font-weight: bold;
    color: green;
}
.purple {
    background-color: plum;
    border: 1px solid;
    border-color: darkblue;
    text-align: center;
    font-weight: bold;
}
.blue {
    background-color: lightblue;
    border: 1px solid;
    border-color: darkblue;
    text-align: center;
    font-weight: bold;
}
.yellow {
    background-color: lightyellow;
    border: 1px solid;
    border-color: darkblue;
    text-align: center;
    font-weight: bold;
}
a {
    text-decoration:none ;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}
a:hover {
    background-color: lime;
    cursor: pointer;
}
